/* Component-specific styling */

/* Form */
.form-group {
  margin-bottom: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

/* Legends */
input[type='text'].code {
  margin-top: 1em;
}

/* Icons */
.calla-icon {
  margin: 0;
  padding: 0;
}
