<div class="row">
  <div class="col-3 offset-1">
    <div class="calla-icon d-inline-block m-0"></div>
    <label for="hybrid">Nommer</label>
  </div>
  <div class="col-6">
    <input class="w-100" id="hybrid" name="hybrid" type="text" [value]="hybrid.code"/>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="parents">
      <fa-icon [icon]="this.iconService.getVenusMarsIcon()"></fa-icon>
      Kruising
    </label>
  </div>
  <div class="col-6">
    <input class="w-100" id="parents" name="parents" type="text"/>
  </div>
  <div class="col-2">
    <label for="parents">
      (
      <fa-icon [icon]="this.iconService.getVenusIcon()"></fa-icon>&nbsp;<fa-icon
      [icon]="this.iconService.getMultiplicationIcon()"></fa-icon>&nbsp;<fa-icon
      [icon]="this.iconService.getMarsIcon()"></fa-icon>
      )
    </label>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="description">
      <fa-icon [icon]="this.iconService.getDescriptionIcon()"></fa-icon>
      Beskrywing</label>
  </div>
  <div class="col-6">
    <textarea class="note w-100" id="description" name="description" rows="2"></textarea>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="seed">
      <fa-icon [icon]="this.iconService.getSeedIcon()"></fa-icon>
      Saad</label>
  </div>
</div>
<div class="row">
  <div class="col-1 offset-4">
    <input id="seed" name="seed" type="radio" value="seed"/>
  </div>
  <div class="col-3">
    <label for="seed">
      <fa-icon [classes]="['seed']" [icon]="this.iconService.getSeedIcon()"></fa-icon>
      &nbsp;
      Saad</label>
  </div>
</div>
<div class="row">
  <div class="col-1 offset-4">
    <input id="seed-dull" name="seed" type="radio" value="seed-dull"/>
  </div>
  <div class="col-3">
    <label for="seed-dull">
      <fa-icon [classes]="['seed-dull']" [icon]="this.iconService.getSeedIcon()"></fa-icon>
      &nbsp;
      Dowwe Saad</label>
  </div>
</div>
<div class="row">
  <div class="col-1 offset-4">
    <input id="seed-none" name="seed" type="radio" value="seed"/>
  </div>
  <div class="col-3">
    <label for="seed-none">
      <fa-icon [classes]="['seed-none']" [icon]="this.iconService.getSeedIcon()"></fa-icon>
      &nbsp;
      Geen Saad</label>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="offspring">
      <fa-icon [icon]="this.iconService.getOffspringIcon()"></fa-icon>
      Nageslag
    </label>
  </div>
</div>
<div class="row">
  <div class="col-1 offset-4">
    <input id="offspring" name="offspring" type="radio"
           value="offspring"/>
  </div>
  <div class="col-3">
    <label for="offspring">
      <fa-icon [classes]="['offspring']" [icon]="this.iconService.getOffspringIcon()"></fa-icon>
      &nbsp;
      Nageslag
    </label>
  </div>
</div>
<div class="row">
  <div class="col-1 offset-4">
    <input id="offspring-none" name="offspring" type="radio"
           value="offspring-none"/>
  </div>
  <div class="col-3">
    <label for="offspring-none">
      <fa-icon [classes]="['offspring-none']" [icon]="this.iconService.getOffspringIcon()"></fa-icon>
      &nbsp;
      Geen Nageslag
    </label>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="profile-photo">
      <fa-icon [icon]="this.iconService.getPhotoIcon()"></fa-icon>
      Foto</label>
  </div>
  <div class="col-6">
    <fa-icon [classes]="['photo', 'profile-photo']" [icon]="this.iconService.getPhotoIcon()"
             id="profile-photo"></fa-icon>
  </div>
</div>
<div class="row">
  <div class="col-3 offset-1">
    <label for="comments">
      <fa-icon [icon]="this.iconService.getCommentsIcon()"></fa-icon>
      Opmerkings</label>
  </div>
  <div class="col-6">
    <textarea class="note w-100" id="comments" name="comments" rows="5"></textarea>
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row d-flex justify-content-center">
  <button class="btn btn-primary m-1" id="save" name="save" type="submit">Stoor Kruising</button>
  <button class="btn btn-secondary m-1" id="cancel" name="cancel">Kanselleer</button>
</div>
