<table class="table-bordered table-striped">
  <thead class="thead-dark">
  <th>
    Nommer
  </th>
  <th>
    Kruising
  </th>
  <th>
    Beskrywing
  </th>
  <th>
    Saad
  </th>
  <th>
    Nageslag
  </th>
  <th>
  </th>
  </thead>
  <tbody>
  <tr>
    <td class="cross-column">
      <p>
        <span class="white-calla-icon"></span>
        19001
      </p>
    </td>
    <td class="parent-column">
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="faDescription"></fa-icon>
        Nommer 19001
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [icon]="faSeed" class="fa-lg seed-none"></fa-icon>
        <br>
        Geen saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [icon]="faOffspring" class="offspring-none"></fa-icon>
        <br>
        Geen nageslag
    </td>
    <td class="more-column">
      <a href="#" target="_blank">
        <fa-icon [icon]="faMore" class="fa-button"></fa-icon>
      </a>
    </td>
  <tr>
    <td class="cross-column">
      <p>
        <span class="white-calla-icon"></span>
        19002
      </p>
    </td>
    <td class="parent-column">
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="faDescription"></fa-icon>
        Nommer 19002
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [icon]="faSeed" class="fa-lg seed"></fa-icon>
        <br>
        Saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [icon]="faOffspring" class="offspring"></fa-icon>
        <br>
        Nageslag
    </td>
    <td class="more-column">
      <a href="#" target="_blank">
        <fa-icon [icon]="faMore" class="fa-button"></fa-icon>
      </a>
    </td>
  </tr>
  <tr>
    <td class="cross-column">
      <p>
        <span class="white-calla-icon"></span>
        19003
      </p>
    </td>
    <td class="parent-column">
      <p>
        <fa-icon [icon]="faVenusMars"></fa-icon>
        19001 x 19002
      </p>
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="faDescription"></fa-icon>
        Nommer 19003 (19001 x 19002)
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [classes]="['fa-lg', 'seed-dull']" [icon]="faSeed"></fa-icon>
        <br>
        Dowwe Saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [classes]="['offspring-none']" [icon]="faOffspring"></fa-icon>
        <br>
        Geen Nageslag
    </td>
    <td class="more-column">
      <a href="#" target="_blank">
        <fa-icon [classes]="['fa-button']" [icon]="faMore"></fa-icon>
      </a>
    </td>
  </tbody>
</table>

<!--
            <section class="column">
                <section class="row">

                    <label for="search">Soek</label>
                    <input type="text" id="search" name="search"/><i class="fas fa-search fa-button"></i>

                </section>

                <section class="row">
                    <div class="table width-full">
                        <div class="table-row-header">
                            <div class="table-column-header cross-column">
                                <label>Nommer</label>
                            </div>
                            <div class="table-column-header parent-column">
                                <label>Kruising</label>
                            </div>
                            <div class="table-column-header description-column">
                                <label>Beskrywing</label>
                            </div>
                            <div class="table-column-header seed-column">
                                <label>Saad</label>
                            </div>
                            <div class="table-column-header offspring-column">
                                <label>Nageslag</label>
                            </div>
                            <div class="table-column-header more-column">
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-column cross-column">
                                <div class="white-calla-icon"></div>
                                <p>
                                    19001
                                </p>
                            </div>
                            <div class="table-column parent-column">
                            </div>
                            <div class="table-column description-column">
                                <p>
                                    <i class="fas fa-leaf"></i>Nommer 19001
                                </p>
                            </div>
                            <div class="table-column seed-column">
                                <p>
                                    <i class="fas fa-genderless fa-lg seed-none"></i><br/>
                                    Geen saad
                                </p>
                            </div>
                            <div class="table-column offspring-column">
                                <p>
                                    <i class="fas fa-seedling offspring-none"></i><br/>
                                    Geen nageslag
                                </p>
                            </div>
                            <div class="table-column more-column">
                                <a href="cross_detail.html?id=1" target="_blank"><i
                                        class="fas fa-ellipsis-h fa-button"></i></a>
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-column cross-column">
                                <div class="white-calla-icon"></div>
                                <p>
                                    19002
                                </p>
                            </div>
                            <div class="table-column parent-column">
                            </div>
                            <div class="table-column description-column">
                                <p>
                                    <i class="fas fa-leaf"></i>Nommer 19002
                                <p>
                            </div>
                            <div class="table-column seed-column">
                                <p>
                                    <i class="fas fa-genderless fa-lg seed"></i><br/>
                                    Saad
                                </p>
                            </div>
                            <div class="table-column offspring-column">
                                <p>
                                    <i class="fas fa-seedling offspring"></i><br/>
                                    Nageslag
                                </p>
                            </div>
                            <div class="table-column more-column">
                                <a href="cross_detail.html?id=2" target="_blank"><i
                                        class="fas fa-ellipsis-h fa-button"></i></a>
                            </div>
                        </div>

                        <div class="table-row">
                            <div class="table-column cross-column">
                                <div class="white-calla-icon"></div>
                                <p>
                                    19003
                                </p>
                            </div>
                            <div class="table-column parent-column">
                                <p>
                                    <i class="fa fa-venus-mars"></i><br/>
                                    19001 x 19002
                                </p>
                            </div>
                            <div class="table-column description-column">
                                <p>
                                    <i class="fas fa-leaf"></i>
                                    Nommer 19003 (19001 x 19002)
                                </p>
                            </div>
                            <div class="table-column seed-column">
                                <p>
                                    <i class="fas fa-genderless fa-lg seed"></i><br/>
                                    Saad
                                </p>
                            </div>
                            <div class="table-column offspring-column">
                                <p>
                                    <i class="fas fa-seedling offspring-none"></i><br/>
                                    Geen nageslag
                                </p>
                            </div>
                            <div class="table-column more-column">
                                <a href="cross_detail.html?id=2" target="_blank"><i
                                        class="fas fa-ellipsis-h fa-button"></i></a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="row">
                    <button id="new" name="new" class="btn btn-primary" onclick="newCross();">Nuwe kruising</button>
                </section>
            </section>
-->
