<table class="table-bordered table-striped w-100">
  <thead class="thead-dark">
  <tr class="flex-row">
    <th class="cross-column">
      Nommer
    </th>
    <th class="parent-column">
      Kruising
    </th>
    <th class="description-column">
      Beskrywing
    </th>
    <th class="seed-column">
      Saad
    </th>
    <th class="offspring-column">
      Nageslag
    </th>
    <th class="more-column">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="flex-row">
    <td class="cross-column">
      <p>
        <span class="calla-icon"></span>
        19001
      </p>
    </td>
    <td class="parent-column">
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="this.legendsService.getDescriptionIcon()"></fa-icon>
        Nommer 19001
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [icon]="this.legendsService.getSeedIcon()" class="fa-lg seed-none"></fa-icon>
        <br>
        Geen saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [icon]="this.legendsService.getSeedIcon()" class="offspring-none"></fa-icon>
        <br>
        Geen nageslag
    </td>
    <td class="more-column">
      <a routerLink="detail">
        <fa-icon [classes]="['fa-button']" [icon]="this.legendsService.getMoreIcon()"></fa-icon>
      </a>
    </td>
  <tr>
    <td class="cross-column">
      <p>
        <span class="calla-icon"></span>
        19002
      </p>
    </td>
    <td class="parent-column">
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="this.legendsService.getDescriptionIcon()"></fa-icon>
        Nommer 19002
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [icon]="this.legendsService.getSeedIcon()" class="fa-lg seed"></fa-icon>
        <br>
        Saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [icon]="this.legendsService.getOffspringIcon()" class="offspring"></fa-icon>
        <br>
        Nageslag
    </td>
    <td class="more-column">
      <a routerLink="detail">
        <fa-icon [classes]="['fa-button']" [icon]="this.legendsService.getMoreIcon()"></fa-icon>
      </a>
    </td>
  </tr>
  <tr>
    <td class="cross-column">
      <p>
        <span class="calla-icon"></span>
        19003
      </p>
    </td>
    <td class="parent-column">
      <p>
        <fa-icon [icon]="this.legendsService.getVenusMarsIcon()"></fa-icon>
        19001 x 19002
      </p>
    </td>
    <td class="description-column">
      <p>
        <fa-icon [icon]="this.legendsService.getDescriptionIcon()"></fa-icon>
        Nommer 19003 (19001 x 19002)
      </p>
    </td>
    <td class="seed-column">
      <p>
        <fa-icon [classes]="['fa-lg', 'seed-dull']" [icon]="this.legendsService.getSeedIcon()"></fa-icon>
        <br>
        Dowwe Saad
      </p>
    </td>
    <td class="offspring-column">
      <p>
        <fa-icon [classes]="['offspring-none']" [icon]="this.legendsService.getOffspringIcon()"></fa-icon>
        <br>
        Geen Nageslag
    </td>
    <td class="more-column">
      <a routerLink="detail">
        <fa-icon [classes]="['fa-button']" [icon]="this.legendsService.getMoreIcon()"></fa-icon>
      </a>
    </td>
  </tbody>
</table>
