<div class="d-flex d-row">
  <div class="d-flex d-column hybrid-column">
    <p><label>Nommer</label></p>
  </div>
  <div class="d-flex d-column parent-column">
    <p><label>Kruising</label></p>
  </div>
  <div class="d-flex d-column description-column">
    <p><label>Beskrywing</label></p>
  </div>
  <div class="d-flex d-column seed-column">
    <p><label>Saad</label></p>
  </div>
  <div class="d-flex d-column offspring-column">
    <p><label>Nageslag</label></p>
  </div>
  <div class="d-flex d-column more-column">
  </div>
</div>
