@import "node_modules/@tahoni/neoflora-lib/assets/css/colors.scss";

/* Colours */
button:hover {
  background-color: $button-hover-color;
}

/* Form */
.form-group {
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Input elements */
input,
textarea {
  color: inherit;
}

.ancestors input[type='text'].form-control,
.ancestors input[type='number'].form-control {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

/* Legends */
input[type='text'].code {
  margin-top: 1rem;
}
