/* Form */
.form-group {
  margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Input elements */
.ancestors input[type='text'].form-control,
.ancestors input[type='number'].form-control {
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}

input[type='text'].code {
  margin-top: 1rem;
}
