<form #form="ngForm" (ngSubmit)="onSubmit(form)" appFocusOnError class="was-validated" novalidate>
  <div class="form-row form-group">
    <div class="col-3 offset-1">
      <div class="calla-icon d-inline-block"></div>
      <label for="code">Nommer</label>
    </div>
    <div class="col-6">
      <input [ngModel]="hybrid?.code" class="form-control code" id="code" name="code" required type="number"/>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-3 offset-1">
      <label for="parentMother">
        <fa-icon [icon]="this.iconService.getVenusMarsIcon()"></fa-icon>
        Kruising
      </label>
    </div>
    <div class="col-6 input-group">
      <label class="m-0" for="parentMother">
        <fa-icon [icon]="this.iconService.getVenusIcon()"></fa-icon>
      </label>
      <input [ngModel]="hybrid?.parent" class="form-control" id="parentMother" name="parent" required type="text"/>
      <fa-icon [icon]="this.iconService.getMultiplicationIcon()"></fa-icon>
      <input [ngModel]="hybrid?.parent" class="form-control" id="parentFather" name="parent" required type="text"/>
      <label class="m-0" for="parentFather">
        <fa-icon [icon]="this.iconService.getMarsIcon()"></fa-icon>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-3 offset-1">
        <label [for]="this.legendService.getDefaultSeed()">
          <fa-icon [icon]="this.iconService.getSeedIcon()"></fa-icon>
          Saad</label>
      </div>
    </div>
    <div *ngFor="let seedType of this.legendService.getSeed()" class="form-row">
      <div class="col-1 offset-4">
        <input [id]="seedType.code" [ngModel]="hybrid?.seed" [value]="seedType.code"
               class="form-control-sm"
               name="seed" type="radio"/>
      </div>
      <div class="col-3">
        <label [for]="seedType.code">
          <fa-icon [classes]="[seedType.code]" [icon]="this.iconService.getSeedIcon()"></fa-icon>
          &nbsp;
          {{seedType.description}}</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-3 offset-1">
        <label [for]="this.legendService.getDefaultOffspring()">
          <fa-icon [icon]="this.iconService.getOffspringIcon()"></fa-icon>
          Nageslag
        </label>
      </div>
    </div>
    <div *ngFor="let offspringType of this.legendService.getOffspring()" class="form-row">
      <div class="col-1 offset-4">
        <input [id]="offspringType.code" [ngModel]="hybrid?.offspring" [value]="offspringType.code"
               class="form-control-sm"
               name="offspring" type="radio"/>
      </div>
      <div class="col-3">
        <label [for]="offspringType.code">
          <fa-icon [class]="[offspringType.code]" [icon]="this.iconService.getOffspringIcon()"></fa-icon>
          &nbsp;
          {{offspringType.description}}
        </label>
      </div>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-3 offset-1">
      <label for="comment">
        <fa-icon [icon]="this.iconService.getCommentIcon()"></fa-icon>
        Opmerkings</label>
    </div>
    <div class="col-6">
      <textarea [ngModel]="hybrid?.comment" class="note form-control" id="comment" name="comment"
                rows="3"></textarea>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-3 offset-1">
      <label for="profilePhoto">
        <fa-icon [icon]="this.iconService.getPhotoIcon()"></fa-icon>
        Foto</label>
    </div>
    <div class="col-6" id="profilePhoto">
      <app-image [imageSrc]="hybrid?.image" imageAlt="{{hybrid?.code}} Photo" imageClass="image-main"
                 imageIconClass="image-icon-main"></app-image>
    </div>
  </div>

  <div class="form-row form-group">
    <div class="col-6 offset-4">
      <app-file-uploader (fileUploadedEvent)="onImageFileUploadedEvent($event)"
                         [fileUploadOptions]="this.imageService.getImageFileOptions()"></app-file-uploader>
    </div>

  </div>
  <div class="form-row form-group d-flex justify-content-center">
    <button class="btn btn-primary m-1" id="save" name="save" type="submit">Stoor Kruising
    </button>
    <button (click)="onCancelClicked()" class="btn btn-secondary m-1" id="cancel" name="cancel">Kanselleer
    </button>
  </div>
</form>

