/* Global styling */

/* Colours */
body {
  background-color: #9b89af;
  color: #551165;
}

h1, h2, h3 {
  color: #551165;
}

fa-icon {
  color: #551165;
}

.container {
  background-color: #e8e4ed;
}

.btn-primary {
  background-color: #551165;
}

.btn-secondary {
  background-color: #816b9a;
}

.image-icon {
  color: #816b9a;
  font-weight: lighter;
}
/* Sections */
header, footer, main {
  margin: 0;
  padding: 0;
  border-style: double;
  border-width: thin;
}

.container {
  min-height: 96vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding: 0;
  align-items: stretch;
}

/* Content */
p {
  margin: 0.5em 1em;
}

/* Inputs */
input[type='file'].form-control-file {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0.25em;
  padding: 0.25em 0.25em 0.25em 0.75em;
}

.form-control-file-button {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-top: 0.25em;
  padding: 0.25em 1em;
  cursor: pointer;
  border-radius: 0.25em;
}

/* Buttons */
.btn-primary {
  font-weight: bold;
}

.btn-icon {
  box-sizing: content-box;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0.5rem;
  border-style: solid;
  border-width: thin;
}

.btn-search {
  margin-bottom: -0.25rem;
}

/* Logo */
.logo {
  box-sizing: border-box;
  height: 136px;
  padding: 4px;
  text-align: left;
}

/* Icons */
.icon, .calla-icon, .h-calla-icon, .white-calla-icon {
  display: inline-block;
  width: 32px;
  height: 34px;
  padding: 2px;
  margin: 2px;
}

.calla-icon {
  background-color: #816b9a;
  -webkit-mask-image: url("assets/img/icons/calla-icon.png");
}

.h-calla-icon {
  background-color: #551165;
  -webkit-mask-image: url("assets/img/icons/calla-icon.png");
}

.white-calla-icon {
  background-color: white;
  -webkit-mask-image: url("assets/img/icons/calla-icon.png");
}

/* Columns */
.seed-column, .offspring-column, .more-column {
  flex: 2;
}

.hybrid-column {
  flex: 2;
  order: 1;
}

.parent-column {
  flex: 6;
  order: 2;
}

.seed-column {
  order: 3;
}

.offspring-column {
  order: 4;
}

.more-column {
  order: 5;
}

/* Legends */
.seed, .seed-none, .seed-dull {
  font-weight: bold;
}

.offspring, .offspring-none {
  font-weight: bold;
}

.seed-none, .offspring-none {
  color: red;
}

.seed-dull {
  color: black;
}

.seed, .offspring {
  color: green;
}

/* Image Icons */
.image-icon-main {
  font-size: 256px;
  font-weight: lighter;
}

.image-icon-512 {
  font-size: 512px;
}

.image-icon-256 {
  font-size: 256px;
}

.image-icon-128 {
  font-size: 128px;
}

.image-icon {
}


/* Images */
img.image-main {
  height: 256px;
  width: auto;
  border: 1px solid;
}

img.image-512 {
  height: 512px;
  width: auto;
}

img.image-256 {
  height: 256px;
  width: auto;
}

img.image-128 {
  height: 128px;
  width: auto;
}

img.image {
  background-color: transparent;
  padding: 14px;
  margin-bottom: 14px;
}

/* Text */
.description, .note {
}
