/* Module-specific styling */

/* Image Icons */
.image-icon-main {
  font-size: 256px;
  font-weight: lighter;
}

.image-icon-512 {
  font-size: 512px;
}

.image-icon-256 {
  font-size: 256px;
}

.image-icon-128 {
  font-size: 128px;
}

.image-icon {
}


/* Images */
img.image-main {
  max-width: 256px !important;
  border: 1px solid;
}

img.image-512 {
  max-width: 512px !important;
}

img.image-256 {
  max-width: 256px !important;
}

img.image-128 {
  max-width: 128px !important;
}

img.image {
  background-color: transparent;
  max-width: 100%;
  height: auto;
  padding: 14px;
  margin-bottom: 14px;
}
