<div class="container d-flex flex-column">
  <header>
    <div class="flex-row">
      <div class="col-12">
        <neoflora-lib-header heading="Neoprogeny"></neoflora-lib-header>
      </div>
    </div>
  </header>
  <main class="d-flex flex-row flex-fill">
    <div class="d-flex col-12">
      <app-body class="d-flex flex-column flex-fill justify-content-center align-content-center"></app-body>
    </div>
  </main>
  <footer>
    <div class="flex-row">
      <div class="col-12 justify-content-center">
        <neoflora-lib-footer></neoflora-lib-footer>
      </div>
    </div>
  </footer>
</div>
