/* Global styling */
@import "node_modules/@tahoni/neoflora-lib/assets/css/colors";

/* Component */
:host {
  display: block;
}

/* Child components */
app-hybrid-list-row:nth-child(even) {
  background-color: $even-row-color;
}

app-hybrid-list-row:nth-child(odd) {
  background-color: $odd-row-color;
}

/* Tables */
.d-row, .d-column {
  border: 1px solid white;
  border-collapse: collapse;
}

.d-row {
  margin: 0;
  padding: 0;
}

.d-column {
  margin-top: 0;
  margin-bottom: 0;
}

/* Icons */
fa-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
