/* Global styling */
@import "node_modules/@tahoni/neoflora-lib/assets/css/colors";

/* Component */
:host {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Child components */
app-hybrid-list-row:nth-child(even) {
  background-color: $even-row-color;
}

app-hybrid-list-row:nth-child(odd) {
  background-color: $odd-row-color;
}
