/* Component-specific styling */
:host {
  display: block;
}

/* Colours */
.d-row, .d-column {
  border: 1px solid white;
  border-collapse: collapse;
}

.d-row {
  background-color: #9b89af;
}

/* Tables */
.d-row {
  margin: 0;
  padding: 0;
}

.d-column {
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* Columns */
.description-column {
  text-align: start;
  justify-content: start;
}

/* Icons */
.calla-icon {
  display: block;
  margin: 0;
  padding: 0;
}
