/* Component */
:host {
  display: block;
}

/* Tables */
.d-row, .d-column {
  border: 1px solid white;
  border-collapse: collapse;
}

.d-row {
  margin: 0;
  padding: 0;
}

.d-column {
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* Columns */
.description-column {
  text-align: start;
  justify-content: start;
}

/* Icons */
fa-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
