/* Component-specific styling */

/* Photos */
.profile-photo, .photo-512, .photo-256, .photo-128, .photo {
}

.profile-photo {
  font-size: 256px;
  font-weight: lighter;
  color: white;
}

.photo-512 {
  font-size: 512px;
}

.photo-256 {
  font-size: 256px;
}

.photo-128 {
  font-size: 128px;
}

.photo {
}

/* Notes */
.note {
  width: 100%;
}
