/* Component-specific styling */
:host {
  width: 100%;
}

/* Colours */
.profile-photo, .photo-512, .photo-256, .photo-128, .photo {
  color: white;
}

/* Photos */
.profile-photo {
  font-size: 256px;
  font-weight: lighter;
}

.photo-512 {
  font-size: 512px;
}

.photo-256 {
  font-size: 256px;
}

.photo-128 {
  font-size: 128px;
}

.photo {
}
