/* Component-specific styling */

/* Form */
.form-group {
  margin-bottom: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Input elements */
input,
textarea {
  color: inherit;
}

.ancestors input[type='text'].form-control,
.ancestors input[type='number'].form-control {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.25em;
}

/* Buttons */
button:hover {
  background-color: #380b42;
}

/* Legends */
input[type='text'].code {
  margin-top: 1em;
}

/* Icons */
.calla-icon {
  margin: 0;
  padding: 0;
}
